<div class="row">
  <div
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-10"
    *ngFor="let item of news"
  >
    <mat-card>
      <img mat-card-image src="/assets/blank.png" alt="" />
      <mat-card-header>
        <mat-card-title
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil,
          expedita.</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quidem,
          maiores illo nobis odio dolorum sequi libero, eum, dolore maxime
          possimus ipsa voluptatem. Impedit eos, dicta dolorum dolores aut
          sapiente!
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Favorite</button>
        <button mat-button>Read More</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
